@import '../../sass/conf/conf';

.content-top {
    /*padding-top: 13px;
  padding-bottom: 27px; by br*/
  padding-top: 13px;
  /*padding-bottom: 27px; //by br*/
  padding-bottom: 10px;

      padding-top: 10px;
    padding-bottom: 17px;
}

h3.al-title {
  font-weight: $font-bold;
  color: $default-text;
  float: left;
  width: auto;
  margin: 0;
  padding: 5px 0 0;
 // font-size: 24px;
  text-transform: uppercase;
  opacity: 0.9;
  text-shadow: black 2px 2px 7px;
}

.al-breadcrumb {
  background: none;
  color: $default-text;
  padding: 0;
  margin: 0;
  float: right;
  /*padding-top: 11px; //by br*/
  li {
    /*font-size: 18px; // by br*/
    font-size: 14px;
    font-weight: $font-normal;
    a {
      color: $primary-light;
    }

    &.breadcrumb-item.active {
      color: $default-text;
    }
  }
}

.al-look {
  float: right;
  margin-right: 10px;
  padding-top: 10px;
  > a {
    font-size: 19px;
  }
}
