.header {
    color: slategray;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
    font-size: 60px;
}
.buttonMenu{
    width:80%;
    margin-bottom: 10px;
    height:50px;
}
.panel-default{
    width:80%;
}
.btnColor{
    width: 74px;
    height: 74px;
    margin: 1px;
}
fieldset{
    margin-bottom: 30px;
    background-color: lightblue;
}